bin
dll
/tmp/*
/vc-proj/.vs
/vc-proj/Debug/
/vc-proj/Release/
/vc-proj/ida2asm
/vc-proj/ipch
/vc-proj/swos-asm
/vc-proj/token-lookup-tester
/tests/vc-proj/.vs
/tests/vc-proj/tests/Release
/tests/vc-proj/tests/Debug
/tests/vc-proj/snapshots
/tests/sdl-address-table-fetcher/vc-proj/Debug
/tests/sdl-address-table-fetcher/vc-proj/Release
/tests/sdl-address-table-fetcher/vc-proj/sdl-address-table-fetcher/Debug
/tests/sdl-address-table-fetcher/vc-proj/sdl-address-table-fetcher/Release
/doc/TODO.txt
/src/swossym.h
__pycache__
*.tlog
*.opendb
*.db
*.user
*.ipch
build
/.tgitconfig
v16
/assets/sprites/src
