bin
dll
!3rd-party/bin/
!3rd-party/bin/dll/
!3rd-party/bin/dll/**
/tmp/*
/project/vc++/.vs
/tests/vc-proj/.vs
/tests/vc-proj/tests/Release
/tests/vc-proj/tests/Debug
/tests/vc-proj/snapshots
/tests/sdl-address-table-fetcher/vc-proj/Debug
/tests/sdl-address-table-fetcher/vc-proj/Release
/tests/sdl-address-table-fetcher/vc-proj/sdl-address-table-fetcher/Debug
/tests/sdl-address-table-fetcher/vc-proj/sdl-address-table-fetcher/Release
/doc/TODO.txt
/assets/sprites/src
__pycache__
*.tlog
*.opendb
*.db
*.user
*.ipch
build
/.tgitconfig
v16
tmp
.vs
dist
